// Page main color
$main-color: var(--hash-calendar-main-color);
// Page background color
$bg-color: var(--hash-calendar-bg-color);
// Main text color
$main-font-color: var(--hash-calendar-main-font-color);
// Secondary text color
$vice-font-color: var(--hash-calendar-vice-font-color);
// Disabled background color
$disabled-bg-color: var(--hash-calendar-disabled-bg-color);
// Disabled text color
$disabled-font-color: var(--hash-calendar-disabled-font-color);

// Define a set of default color configurations for browsers that do not support CSS variables
$default-main-color: #C2A15B; // Directly assign a value
$default-bg-color: var(--Main-Color-Glod-Main-Color-4a20, rgba(194, 161, 91, 0.20));
$default-main-font-color: #4c4c4c;
$default-vice-font-color: #898989;
$default-disabled-bg-color: #f5f7fa;
$default-disabled-font-color: var(--Grey-Color-Grey-3, #D9D9D9);

// Generate different style expressions based on properties
@mixin genColor($prop, $gen-color, $gen-default-color) {
    @if $prop =='border' {
        #{$prop}: 1px solid $gen-default-color;
        #{$prop}: 1px solid $gen-color;
    }

    @else {
        #{$prop}: $gen-default-color;
        #{$prop}: $gen-color;
    }
}

// Define a series of color variable adaptation functions
@mixin mainColor($prop) {
    @include genColor($prop, $main-color, $default-main-color);
}

@mixin bgColor($prop) {
    @include genColor($prop, $bg-color, $default-bg-color);
}

@mixin mainFontColor($prop) {
    @include genColor($prop, $main-font-color, $default-main-font-color);
}

@mixin viceFontColor($prop) {
    @include genColor($prop, $vice-font-color, $default-vice-font-color);
}

@mixin disabledBgColor($prop) {
    @include genColor($prop, $disabled-bg-color, $default-disabled-bg-color);
}

@mixin disabledFontColor($prop) {
    @include genColor($prop, $disabled-font-color, $default-disabled-font-color);
}

.hash-calendar {
    --hash-calendar-main-color: #{$default-main-color};
    --hash-calendar-bg-color: #{$default-bg-color};
    --hash-calendar-main-font-color: #{$default-main-font-color};
    --hash-calendar-vice-font-color: #{$default-vice-font-color};
    --hash-calendar-disabled-bg-color: #{$default-disabled-bg-color};
    --hash-calendar-disabled-font-color: #{$default-disabled-font-color};
}